* {
    box-sizing: border-box; 
}

/* .row, .column {
	padding: 0px;
	margin: 0px;
} */


body {
	background-color: rgb(51, 52, 53);
	/* background-color: #B2E9FD; */
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #B2E9FD;
}

.results {
	margin-top: 20px;
}

.movie {
height: 45vh;
width: 15%;
margin: 5%;

}
